{% extends "portfolio_app/layout.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center">About Me</h2>
    
    <div class="about-section mt-4">
        <p>
            I am a passionate software developer with expertise in full-stack web development and problem-solving. 
            With a strong foundation in programming and multiple certifications, I strive to build innovative solutions.
        </p>
    </div>

    <h3 class="mt-4">Education</h3>
    <ul class="list-group">
        <li class="list-group-item"><strong>Bachelor's in Computer Science</strong> - XYZ University (2020-2024)</li>
    </ul>

    <h3 class="mt-4">Experience</h3>
    <ul class="list-group">
        <li class="list-group-item"><strong>Software Developer</strong> - Adqura (Aug 2023 - Present)</li>
        <li class="list-group-item"><strong>Full Stack Python Developer</strong> - Birdwood Energy (Apr 2023 - Aug 2023)</li>
    </ul>

    <h3 class="mt-4">Certifications</h3>
    <ul class="list-group">
        <li class="list-group-item">Problem Solving through Programming in C - NPTEL</li>
        <li class="list-group-item">Full Stack Web Development - Internshala (91%)</li>
        <li class="list-group-item">Python Certification - Hackerrank</li>
        <li class="list-group-item">PEGA Certified Senior System Architect (CSSA)</li>
        <li class="list-group-item">PEGA Certified System Architect (CSA)</li>
        <li class="list-group-item">PEGA Certified Decisioning Consultant (CPDC)</li>
    </ul>

    <h3 class="mt-4">Skills & Technologies</h3>
    <ul class="list-group">
        <li class="list-group-item">Programming Languages: Python, C, JavaScript</li>
        <li class="list-group-item">Web Development: Django, React, Bootstrap</li>
        <li class="list-group-item">Databases: MySQL, PostgreSQL</li>
        <li class="list-group-item">Soft Skills: Problem-solving, Teamwork, Leadership</li>
    </ul>

    <h3 class="mt-4">Interests & Hobbies</h3>
    <ul class="list-group">
        <li class="list-group-item">
        <strong>Speedcubing:</strong> I am an avid speedcuber <img src="portfolio_app/media/cube-solve.gif" alt=""> Check out my profile on the <a href="https://www.worldcubeassociation.org/persons/2015RAJG01" target="_blank">World Cube Association</a>.
        </li>
        <li class="list-group-item">
        <strong>Outdoor Sports:</strong> I enjoy playing Basketball, Badminton, Cricket, Table Tennis, and sometimes Football.
        </li>
    </ul>


    <h3 class="mt-4">Contact Information</h3>
    <p>Email: gauravraj6767@gmail.com</p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/gaurav-r-02991b202/">Profile</a></p>
    <p>GitHub: <a href="https://github.com/GauravRaj6767">Profile</a></p>
</div>
{% endblock %}
